{% extends 'base.html' %}
{% load static %}
{% block title %}{{post.title}}{% endblock %}
{% block head %}
<meta name="keywords" content="{{post.keywords}}">
<meta name="description" content="{{post.description}}">
<script type='text/javascript' language='javascript' src="{% static 'js/rating.js'%}"></script>
{% endblock %}
{% block line %}
<div id ='line_message'>{{post.category}}</div>
{% endblock %}

{% block content %}

<div id='slug' class='{{post.slug}}'> </div>
<div id='{{post.slug}}'>
   <div class='title'>
      <h3>{{post.title}}</h3>
   </div>
   {% load markup %}
   <div class='description'>
      <p>{{post.post_text|markdown:'codehilite'}}</p>
      <div id='tags'>Тэги: {%for tag in tags%}<span><a href='{{tag.get_url}}'>{{tag.title}}</a></span>{%endfor%}</div>
	 <div id='bottom_wrapper'>
	    <div id='date'>{{post.pub_date}}</div>
	   {% include 'rating_post.html' %}
	    
	 </div>
   </div>
</div>

<h3 class='title'>Комментарии:</h3>
{% for comment in comments  %}

<div id='comment_wrapper'>
      <div id='comment_title'>
      {{ comment.nick }}
      </div>
    <div class='colss'>
     {% include 'rating_com.html' %}
      <div id='comment_text'>
      <p>{{ comment.message }}</p>
      </div>
     </div>
   <div class='clear'></div>
   <div id='comment_bottom'>  </div>
</div>
<!--</div>-->
{% endfor %}
<div id='comment_form'>
{%csrf_token%} 
{{ CommentForm.nick }}
{{ CommentForm.message }}
<button>Фигануть</button>
</div>

{% endblock %}
